PizzaClientNew/Connected Services/PizzaReference/PizzaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PizzaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PizzaServiceLibrary/PizzaService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PizzaServiceLibrary/PizzaService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/PizzaServiceLibrary/PizzaService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PizzaDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPizzaService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_ProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductList" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_ProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_NewOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:NewOrder" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_NewOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IPizzaService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPizzaService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/Register" message="tns:IPizzaService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/RegisterResponse" message="tns:IPizzaService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/Login" message="tns:IPizzaService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/LoginResponse" message="tns:IPizzaService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/ProductList" message="tns:IPizzaService_ProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/ProductListResponse" message="tns:IPizzaService_ProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/GetUserId" message="tns:IPizzaService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/GetUserIdResponse" message="tns:IPizzaService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/NewOrder" message="tns:IPizzaService_NewOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/NewOrderResponse" message="tns:IPizzaService_NewOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPizzaService/GetCustomerById" message="tns:IPizzaService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPizzaService/GetCustomerByIdResponse" message="tns:IPizzaService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPizzaService" type="tns:IPizzaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductList">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/ProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewOrder">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/NewOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IPizzaService/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzaService">
    <wsdl:port name="BasicHttpBinding_IPizzaService" binding="tns:BasicHttpBinding_IPizzaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PizzaServiceLibrary/PizzaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>